.inbox {
  min-width: 400px;

  &__main {
    // border: 1px solid #dcdcdc;
    border-radius: 10px;
    margin-top: 40px;

    &__item {
      padding: 20px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      border-radius: 5px;

      margin-bottom: 20px;

      &.unread {
        background-color: #0091ff2d;
      }

      & p {
        margin: 0;
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .inbox {
    min-width: 100%;
  }
}
